<?xml version="1.0"?>
<config>
  <modules>
    <Oitoo_Bradescocomercioeletronico2>
      <version>2.0.0</version>
    </Oitoo_Bradescocomercioeletronico2>
  </modules>
  <frontend>
    <routers>
      <bradescoce2>
        <use>standard</use>
          <args>
            <module>Oitoo_Bradescocomercioeletronico2</module>
            <frontName>bradescoce2</frontName>
          </args>
      </bradescoce2>
    </routers>
		<layout>
		  <updates>
			<bradescoce2>
			  <file>bradescoce2.xml</file>
			</bradescoce2>
		  </updates>
		</layout>
  </frontend>
    <!--crontab>
        <jobs>
            <bradescoce2>
                <schedule><cron_expr>30 5 * * *</cron_expr></schedule>
                <run><model>bradescoce2/payment::confirmaPagamento</model></run>
            </bradescoce2>
        </jobs>
    </crontab-->
  <global>
    <helpers>
      <bradescoce2>
        <class>Oitoo_Bradescocomercioeletronico2_Helper</class>
      </bradescoce2>
    </helpers>
	<blocks>
	  <bradescoce2>
		<class>Oitoo_Bradescocomercioeletronico2_Block</class>
	  </bradescoce2>
	</blocks>
      <models>
          <bradescoce2>
              <class>Oitoo_Bradescocomercioeletronico2_Model</class>
          </bradescoce2>
      </models>
  </global>
    <default>
        <payment>
            <bradescoce2>
                <model>Oitoo_Bradescocomercioeletronico2_Model_Payment</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Pagamento por boleto bancário</title>
            </bradescoce2>
        </payment>
    </default>
</config>
